.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href='/')
        img(src= 'logo.png', width='25px', height='25px', class='.t-image')
    ul.nav.navbar-nav
      li(class=title=='Home'?'active':undefined)
        a(href='/') Home
      if user
        li(class=title=='Create New Network'?'active':undefined)
          a(href='/input') Input
        li(class=title=='Your Networks'?'active':undefined)
          a(href='/networks') Networks
      li
        a(href='/abrokenlink') A broken link!
    ul.nav.navbar-nav.navbar-right
      if !user
        li(class=title=='Login'?'active':undefined)
          a(href='/login') Login
          
        li(class=title=='Create Account'?'active':undefined)
          a(href='/signup') Create Account
      else
        li.dropdown(class=title=='Account Management'?'active':undefined)
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            if user.profile.picture
              img(src='#{user.profile.picture}')
            else
              img(src='#{user.gravatar(60)}')
            | #{user.profile.name || user.email || user.id}&nbsp;
            i.caret
          ul.dropdown-menu
            li
              a(href='/account') My Account
            li.divider
            li
              a(href='/logout') Logout
